* {
   margin: 1;
   padding: 1;
   /* background-color: #F2C8FC;  */
   font-family: 'Oswald', sans-serif;
   list-style: none;
   text-decoration: none;
}



.header{
    display: flex;
    background-color: pink;
    height: 300px; 
    justify-content: space-between;
  

}

.headerTitulo{ /* título (header) */
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 2.5rem;
    width: 100px;
    height: auto
}


.headerMenu ul li {
    color: white;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
    justify-content: center;

}


.headerMenu{ /* menú de navegación */
    font-family: 'Oswald', sans-serif;
    color: black;
    display: inline-block;
    padding-right: 15px;
    margin: auto;
    justify-content: end;
    

}


.footerIg{
        font-family: 'Oswald', sans-serif;
        color: black;
        font-size: 95%;
    }


.barraBusqueda{ /* div de barra de búsquedas */
margin-right: -10em;
min-width: 400px;
width: 380px;
padding-right: 500px;
justify-content: center;

}





}

.listado{
   color:  black;
}






}

}